.notification{
    display:flex;
    justify-content : space-between;
    align-items: center;
    background:#e3f2fd;
    color:#0d47a1;
    
    padding : 15px 20px;
    margin : 25px 0;
    border-radius : 8px;
}

.notification button{
    background:none;
    border:none;
    font-size:20px;
    cursor:pointer;
}

.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode .card{
    background:#1e1e1e;
    color:white;
}

.dark-mode .nav{
    background:#1e1e1e;
}

.dark-mode .nav a{
    color :white;
}

/* menu button */

#menuButton{
    padding:10px 15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

#navMenu{
    display: none;
}   

.show-menu{
    display : block !important;
}

#navMenu li a{
    text-decoration:none;
}

